body{
    background-image: url("assets\images\ripples.png");
}
.header{
    background-color: white;
}
.logo {
    background-color:black;
    font-size: 24px;
    color: white;
    text-align: left;
    padding: 1px 10px 1px 10px;
    position: fixed;
    left: 20%;
    float: left;
}

.grid-container {
    clear: both;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 0px;
    color: gray;
    position: fixed;
    right: 20%;
    float: right;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  #aboutme {
      clear: both;
      overflow: auto; 
      width: 960px;
      margin: 0 auto 0 auto;
      padding: 20px;    
      border: 1px solid black;    
  }

  .Contact-Content {
      clear: both;
      width: 960px;
      background-color: #666666;
      position: relative;
      left: 20%;
      top: 150px;
      height: 400px;
  }

  .NameForm {
      padding: 10px 0px 10px 0px;
      height: 10px;
      border: gray solid 1px;
  }

  .EmailForm {
    padding: 10px 0px 10px 0px;
    height: 10px;
    border: gray solid 1px;
  }

  .MessageForm {
    padding: 10px 0px 10px 0px;
    height: 30px;
    border: gray solid 1px;
  }
  footer{
      text-align: center;
      width: 100%;
      height: 40px;
      position: fixed;
      bottom: 0px;
      background-color: #666666;
      padding: 20px;
      margin-top: 10px;
  }

