body {
    text-align: center;
    color: black;
    background-image: url("assets/images/gravel/gravel.png");
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.bigheader {
    background-color: #ffffff;
    height: 70px;
    Width: 100%;
    position: absolute;
    top: 0px;
    border-bottom: 1px #cccccc solid;
}
.header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 50px;
    width: 1043px;
    left: 230px;
    position: fixed;
    top: 0px;
    padding: 10px;
}
.logo {
    background-color: #4aaaa5;
    color: white;
    float: left;
    font-size: 30px;
    margin: -10px 0px 0px -10px;
    width: 260px;
    height: 60px;
    padding: 10px 0px 0px 10px;
}

.tabs {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 0px;
    color: gray;
    float: right;
    font-size: 24px;
}

.Content {
    position: relative;
    top: 60px;
    clear: both;
    padding: 50px 50px 50px 50px;
    margin: 10px auto 10px auto;
    width: 960px;
    display: inline-block;
    border: 1px solid #dddddd;
    background-color: #dddddd;
}

h1 {
    color: #4aaaa5;
    text-align: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
.picofme {
    float: left;
    /* display: none; */
}

.p1 {
    margin-top: -5px;
    margin-left:210px;
    /* border: 1px solid black; */
    color: #777777;
    font-size: 24px;
}

.p2 {
    margin: 180px 0px 0px 0px;
    clear: both;
    /* border: 1px solid black; */
    color: #777777;
    font-size: 24px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    height: 50px;
    padding: 0px 0px 0px 0px;
    text-align: bottom;
}

.Contact-Content {
    clear: both;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    margin: 100px auto 0px auto;
    border: #ffffff 1px solid;
    width: 1043px;
    text-align: left;
    background-color: #dddddd;
}

.NameForm {
    width: 500px;
    margin: 10px 0px 5px 0px;
}

.EmailForm {
    Width: 500px;
    margin: 10px 0px 5px 0px;
}

.MessageForm {
    width: 500px;
    height: 300px;
    margin: 10px 0px 5px 0px;
}

.submitbutton {
    margin-top: 15px;
}